<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		 <listener class-name="QAlegendTestCases.Listeners"></listener>
	</listeners>
	<parameter name="Browser" value="Edge"></parameter>
  <test thread-count="5" name="Test" parallel="methods">
	<!--<groups>
		<run>
			<include name="smoketest"></include>
		</run>
	</groups>-->
    <classes>
      <class name="QAlegendTestCases.TestCases">
      <methods>
		
		 <include name="verifyAddBrands"></include>
		 
		 
		 </methods>
	  </class>
	   </classes>
 </test> <!-- Test -->
</suite> <!-- Suite -->
 
 
 